*.out
.idea/
plc/soft-arch/AreaOfShapes/build/
plc/soft-arch/AreaOfShapes/.idea/
plc/soft-arch/AreaOfShapes/.gradle/
plc/soft-arch/Week2/build/
plc/soft-arch/Week2/.idea/
plc/soft-arch/Week2/.gradle/
.vscode/settings.json
