*.out
.idea/
plc/soft-arch/AreaOfShapes/build/
plc/soft-arch/AreaOfShapes/.idea/
plc/soft-arch/AreaOfShapes/.gradle/
plc/soft-arch/VariableTypes/build/
plc/soft-arch/VariableTypes/.idea/
plc/soft-arch/VariableTypes/.gradle/
.vscode/settings.json
